<div class="container-fluid p-5¯ " style="background-color: #EAEDED;">
  <!-- Container-1-->
  <div class="container-fluid " >
    <div class="row npm i firebase-toolsp-1"  >
      <h2>SpaceX Launce Program</h2>
    </div>
  </div>
  
  <!--Container-2-->
  <div class="container-fluid">
    <div class="row d-flex " style="" >

      <!--First Column-->
      <div class="col-md-3  d-flex justify-content-start"  style="height:fit-content;">
       <div class="col-md-11 rounded-3 mt-2" style="background-color: white;;">
         <div class="fs-4 fw-bold p-1">Filter</div>

         <!--Succesful Launch Year Heading-->
         <div class="d-flex justify-content-center aling-item-center">
          Launch year
         </div>
         <hr class="new1">

          <!--First Column SubContainer--> 
          <div id=cl class=" d-flex justify-content-center flex-wrap "  >
            <button   type="button"  value=2006 class="btn1 active "  (click)="getYear('2006')">2006</button>
            <button type="button" value=2007  class="btn1 "  (click)="getYear('2007')">2007</button>
            <button type="button" value=2008 class="btn1 " (click)="getYear('2008')">2008</button>
            <button type="button" value=2009  class="btn1 " (click)="getYear('2009')">2009</button>
            <button type="button" value=2010 class="btn1 "  (click)="getYear('2010')">2010</button>
            <button type="button" value=2011  class="btn1 " (click)="getYear('2011')" >2011</button>
            <button type="button" value=2012 class="btn1 "  (click)="getYear('2012')">2012</button>
            <button type="button" value=2013  class="btn1 " (click)="getYear('2013')">2013</button>
            <button type="button" class="btn1" (click)="getYear('2014')" value=2019 >2014</button>
            <button type="button" class="btn1 " (click)="getYear('2015')" value=2020 >2015</button>
            <button type="button" class="btn1 " (click)="getYear('2016')" value=2011 >2016</button>
            <button type="button" class="btn1 " (click)="getYear('2017')" value=2010 >2017</button>
            <button type="button" class="btn1 " (click)="getYear('2018')" value=2015 >2018</button>
            <button type="button" class="btn1 " (click)="getYear('2019')" value=2017 >2019</button>
            <button type="button" class="btn1 " (click)="getYear('2020')" value=2020 >2020</button>
          </div>
       
        
          <!--Succesful Launch Heading-->
          <div class="d-flex justify-content-center aling-item-center">
           Succesful Launch
           </div>
          <hr class="new1">
     
          <!--First Column SubContainer-2-->
         <div  id=cl2 class=" d-flex  justify-content-center" >
          <button type="button" class="btn1 btn2" (click)="getLandLaunch(true)">True</button>
          <button type="button" class="btn1 btn2 active2" (click)="getLandLaunch(false)">False</button>
         </div>
        
        
         <!--SuccesFull Landing -->
         <div class="d-flex justify-content-center aling-item-center">
         Succesful Landing
         </div>
         <hr class="new1">
         <div id="cl3" class="d-flex justify-content-center " >
          <button type="button"  class="btn1 btn3 " (click)="getLandSuccess(true)">True</button>
          <button type="button" class="btn1 btn3 active3" (click)="getLandSuccess(false)">False</button>
         </div>
        </div>
      </div>

      <!--Second Column-->
      <div class=" col-md-9  d-flex flex-wrap   card-t "   >
      <ng-container  *ngFor="let space of res1 let i=index; "    >
        
        <!--Card-->
        <div class="card  mb-2 p-4 m-2 "  style="height: 500px;width:15rem" >
          <img src="{{ res1[i]['links']['mission_patch_small'] }}" class="card-img-top img-fluid img-thumbnail " alt="...">
           <h5 class="card-title mb-1">{{res1[i]['mission_name']}}</h5>
           <div class="card-title fw-bold text-black ">Mission Id</div>
            <ul>
              <div *ngFor="let m_id of res1[i]['mission_id']">
               <li class="">{{m_id}}</li>
              </div>
           </ul>
           <div class="card-title text-black fw-bold">Launch year:<span class="fw-normal">{{res1[i]['launch_year']}}</span></div>
           <div class="card-title text-black fw-bold">SuccesFull Launch:<span class="fw-normal">{{res1[i]['launch_success']}}</span></div>
          <div class="card-title text-black fw-bold">Succesful Landing:<span class="fw-normal">{{ res1[i]['rocket']['first_stage']["cores"][0]['land_success']? true :false }}</span></div>
        </div>
      </ng-container>
    </div>
      
  </div>
  <div class="row text-center">
     <div>Devloped By <span class="fw-bold">Shritesh Aher</span></div>
  </div>
</div>
  
          

